https://mqtt.smart-haufe:443, https://10.0.1.10:443, https://localhost:443 {
    tls /etc/caddy/selfsigned.crt /etc/caddy/selfsigned.key
    
    # Akzeptiert den von MQTTX gesendeten Pfad /mqtt
    handle_path /mqtt* {
        reverse_proxy http://mqtt5:9001
    }

    # Fallback für Verbindungen direkt auf die Root-Domain
    handle {
        reverse_proxy http://mqtt5:9001
    }
}